In [ ]:
import pandas as pd

In [ ]:
dutch_tweets = pd.read_excel("Dutch tweets.xlsx")
hsnhisco = pd.read_excel("hsnhisco.xlsx")

In [ ]:
print(dutch_tweets.shape)
print(hsnhisco.shape)

(1000, 17)
(95298, 15)

In [ ]:
hsnhisco.columns

Index(['Id', 'Original', 'Original (English)', 'Standard',
       'Standard (English)', 'HISCO', 'STATUS', 'RELATION', 'PRODUCT',
       'HISCLASS', 'HISCLASS_5', 'HISCAM_U1', 'HISCAM_NL', 'SOCPO', 'Release'],
      dtype='object')

In [ ]:
dutch_tweets.columns

Index(['full_text', 'created_at', 'screen_name', 'description', 'location',
       'Industry', 'text Translation', 'Day', 'Weekday', 'Month', 'Year',
       'point_info', 'point', 'latitude', 'longitude', 'altitude', 'Province'],
      dtype='object')

In [ ]:
hsnhisco.head()

   Id           Original  ... SOCPO            Release
0   1                NaN  ...   999  HSN_HISCO_2013_01
1   2                 --  ...   999  HSN_HISCO_2013_01
2   3    eigenwerkdoende  ...   999  HSN_HISCO_2013_01
3   4         expediteur  ...    42  HSN_HISCO_2013_01
4   5  gemeente-arbeider  ...     1  HSN_HISCO_2013_01

[5 rows x 15 columns]

In [ ]:
hsnhisco.drop_duplicates(subset=['Standard', 'HISCO'], inplace=True)
hsnhisco.shape

(34257, 15)

In [ ]:
hsnhisco_dict = pd.Series(hsnhisco['HISCO'].values,index=hsnhisco['Standard']).to_dict()
hsnhisco_dict

In [ ]:
!pip3 install -U spacy
!python3 -m spacy download nl_core_news_sm

In [ ]:
import spacy

In [ ]:
nlp = spacy.load("nl_core_news_sm")

In [ ]:
doc = nlp("Dit is een zin.")
print([(w.text, w.pos_) for w in doc])

[('Dit', 'PRON'), ('is', 'VERB'), ('een', 'DET'), ('zin', 'NOUN'), ('.', 'SYM')]

In [ ]:
dutch_tweets.head()

                                           full_text  ...       Province
0  RT @NVALeuven: Onaanvaardbaar! ğŸ˜¡ğŸ˜¡ğŸ˜¡\n \n Spoedi...  ...          False
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...  Noord-Holland
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...   Zuid-Holland
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...   Zuid-Holland
4  RT @mikercarpenter: News that got completely b...  ...     Gelderland

[5 rows x 17 columns]

In [ ]:
dutch_tweets_ind = dutch_tweets[dutch_tweets['Industry'] == True].reset_index(drop=True)
dutch_tweets_ind.shape

(167, 18)

In [ ]:
dutch_tweets_ind.head()

                                           full_text  ...            match_hisco
0  Nederland gaat verder open. Coronavirus heeft ...  ...  [21110, 12110, 99900]
1  Onbegrijpelijk dat de EU de regels voor het te...  ...                [12110]
2  RT @lindeklerk: De gevolgen van de maatregelen...  ...         [30000, 30000]
3  Een staatssecretaris voor Corona. https://t.co...  ...                [31090]
4  Meerderheid mensen met positieve coronatest we...  ...                 [6105]

[5 rows x 18 columns]

In [ ]:
text = dutch_tweets_ind['full_text'][0]
doc = nlp(text)
print([(w.text, w.pos_) for w in doc])

[('Nederland', 'PROPN'), ('gaat', 'AUX'), ('verder', 'ADJ'), ('open', 'ADJ'), ('.', 'SYM'), ('Coronavirus', 'PROPN'), ('heeft', 'AUX'), ('weerslag', 'NOUN'), ('op', 'ADP'), ('samenleving', 'NOUN'), ('.', 'SYM'), ('Werknemersverzoeken', 'VERB'), ('tot', 'ADP'), ('aanpassing', 'NOUN'), ('vakanties', 'NOUN'), ('.', 'SYM'), ('Hoe', 'ADV'), ('gaat', 'AUX'), ('ondernemer', 'NOUN'), ('hiermee', 'ADV'), ('om', 'ADP'), ('?', 'SYM'), ('Column', 'ADJ'), ('@TomProfijt', 'NOUN'), ('in', 'ADP'), ('@DeOndernemer', 'PROPN'), ('over', 'ADP'), ('â€˜', 'PROPN'), ('goed', 'ADJ'), ('werknemerschap', 'NOUN'), ('â€™', 'PROPN'), ('\n ', 'SPACE'), ('https://t.co/9Ua0er0ojA', 'SYM'), ('\n ', 'SPACE'), ('#', 'NUM'), ('arbeidsrecht', 'NOUN'), ('#', 'PROPN'), ('vakantieplanning', 'NOUN'), ('#', 'PROPN'), ('advocaat', 'NOUN'), (')', 'SYM'), ('https://t.co/oThHb1LcNc', 'PROPN')]

In [ ]:
hisco_list = list(set(list(hsnhisco['Standard'])))
print(len(hisco_list))

34257

In [ ]:
hisco_list[:10]

In [ ]:
dutch_tweets['hisco_standard'] = dutch_tweets['full_text'].apply(lambda tweet: [str(i) for i in hisco_list if i in tweet])
dutch_tweets['hisco_code'] = dutch_tweets['full_text'].apply(lambda tweet: [str(hsnhisco_dict[i]) for i in hisco_list if i in tweet])

In [ ]:
dutch_tweets.head()

                                           full_text  ... hisco_code
0  RT @NVALeuven: Onaanvaardbaar! ğŸ˜¡ğŸ˜¡ğŸ˜¡\n \n Spoedi...  ...    [43200]
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...         []
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...    [13000]
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...         []
4  RT @mikercarpenter: News that got completely b...  ...    [43200]

[5 rows x 19 columns]

In [ ]:
dutch_tweets['hisco_standard'] = dutch_tweets['hisco_standard'].apply(lambda text: str(text)[2:len(str(text))-2] ) 
dutch_tweets['hisco_code'] = dutch_tweets['hisco_code'].apply(lambda text: str(text)[2:len(str(text))-2] )

In [ ]:
dutch_tweets.head()

                                           full_text  ... hisco_code
0  RT @NVALeuven: Onaanvaardbaar! ğŸ˜¡ğŸ˜¡ğŸ˜¡\n \n Spoedi...  ...      43200
1  Coronabonus voor leiding Zaans Medisch Centrum...  ...
2  Dubbele verantwoordelijkheid dus voor werkgeve...  ...      13000
3  RT @Elsdijkstra95: Nee tatuurlijk niet he. Waa...  ...
4  RT @mikercarpenter: News that got completely b...  ...      43200

[5 rows x 19 columns]

In [ ]:
dutch_tweets.to_excel("Dutch tweets.xlsx", index=False)